body,
html {
    min-height: 100%;
    margin: 0;
    padding: 0;
}

body {
    //background-color: #dbd5e6;
    font-family: "Josefin Sans", Helvetica, Arial, sans-serif;
    font-size: 16px;
}

h1 {
    font-family: "Allerta Stencil", Helvetica, Arial, sans-serif;
    font-size: 3em;
}

a {
    color: #000;
}

a:hover {
    text-decoration: none;
}

p {
    margin: 0;
}

.container-fluid {
    margin-bottom: 40px;
    height: 100%;
}

#header {
    padding: 50px 0;
    background-color: #4b367c;
    color: #fff;
}

#header p {
    font-size: 1.5em;
}

.sort {
    margin-top: 40px;
}
.sortbg {
    background-color: #e0dbea;
    width: 210px;
    margin: 0 auto;
    padding: 10px;
    border-radius: 50px;
}
.btn-default:hover, .btn-default.hover, .btn-default:active, .btn-default.active, .btn-default:focus, .btn-default.focus {
    background-color: #4b367c;
    color: white;
    border: 2px solid #fff;
    outline: none;
}
.btn-default {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background-color: #e0dbea;
    border: 2px solid #fff;
    color: #4b367c;
    font-variant: small-caps;
    outline: none;
}

#channels {
    width: 800px;
    max-width: 100%;
    margin: 0 auto;
    background-color: #fff;
}

.contain {
    text-align: center;
    margin-top: 40px;
}

img.logo {
    max-width: 80%;
    //border-radius: 50%;
    border: 2px solid #ccc;
}

img.logo.inactive {
    opacity: 0.4;
    filter: alpha(opacity=40);
}

p.channelName {
    font-size: 1.3em;
}

.live {
    color: green;
    font-size: 1.2em;
    font-weight: 600;
}

.notLive {
    font-weight: 600;
    font-size: 1.2em;
}

i {
    color: #000;
    font-size: 1em;
    font-weight: normal;
    font-style: normal;
}

p.space {
    line-height: 2;
}

footer {
    color: #fff;
    background-color: #4b367c;
    padding: 20px;
    clear: both;
}

footer a,
footer a:hover {
    color: #fff;
    text-decoration: underline;
}
