body {
	//background-color: #dbd5e6;
}
.container-fluid {
	margin-bottom: 40px;
}
#header {
    padding: 50px 0;
    background-color: #4b367c;
    color: #fff;
}

#channels {
    width: 800px;
    max-width: 100%;
    margin: 0 auto;
    background-color: #fff;
}

.contain {
    text-align: center;
    margin-top: 40px;
}

img.logo {
    max-width: 80%;
    //border-radius: 50%;
    border: 2px solid #ccc;
}
img.logo.online {
	border: 12px double green;
}
img.logo.inactive {
    opacity: 0.4;
    filter: alpha(opacity=40);
}
.live {
    color: green;
}